@use "mixins";

:root {
  --white: #dedede;
  --black: #151515;
  --black-light: #2d2d2d;
  --black-lighter: #424242;
  --headerH: 5em;
  --footerH: 5em;
  --input-size: 4.5em;
  --app-max-width: 960px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--white);
  }
}

button {
  background-color: var(--black-light);
  color: var(--white);
  border: solid var(--white) 1px;
  border-radius: 0.4em;
  padding: 0.6em;
  font-size: 1.2em;

  &:hover {
    cursor: pointer;
    background-color: var(--black-lighter);
  }
}

header {
  width: 100%;
  height: var(--headerH);
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 3em;
  }
}

main {
  width: 100%;
  max-width: var(--app-max-width);

  .menu {
    display: flex;
    padding: 1em;
    justify-content: center;

    button {
      margin-right: 0.4em;
      padding: 0.5em;
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      --input-w-h: 1em;
      --input-radius: 0.1em;
      width: var(--input-w-h);
      height: var(--input-w-h);
      font-size: var(--input-size);
      margin: 0.1em;
      text-align: center;
      text-transform: uppercase;

      -moz-border-radius: var(--input-radius);
      -webkit-border-radius: var(--input-radius);
      border-radius: var(--input-radius);
    }
  }

  .letters,
  .position {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letters-title,
  .position-title,
  .used-letters-title {
    font-size: 1.3em;
    padding: 0.3em;
  }

  .used-letters-title {
    margin-top: 1em;
  }

  .used-letters {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(var(--app-max-width) * 2 / 3);

    button {
      margin: 0.3em;
      font-family: "Roboto Mono", monospace;

      &.inactive {
        @include mixins.filter(brightness(0.5));
      }
    }
  }
}

footer {
  width: 100%;
  height: var(--footerH);
  display: flex;
  justify-content: center;
  align-items: center;

  .author {
    padding-right: 0.5em;
  }

  .links {
    i {
      --i-hover-padding: 0.3em;
      font-size: 2em;
      padding: var(--i-hover-padding);

      &:hover {
        border: var(--white) 1px solid;
        border-radius: 0.2em;
        padding: calc(var(--i-hover-padding) - 1px);
      }
    }
  }
}
